#CR-10 V2 PLUS (From Tiny Machines: CR-10 V2 with bl touch and titan direct drive included MAY VARY FROM STANDARD WIRING ON THE BLTOUCH)
[stepper_x]
step_pin: ar54
dir_pin: ar55
enable_pin: !ar38
step_distance: .0125
endstop_pin: ^ar3
position_endstop: 0
position_max: 300
homing_speed: 50

[stepper_y]
step_pin: ar60
dir_pin: ar61
enable_pin: !ar56
step_distance: .0125
endstop_pin: ^ar14
position_endstop: 0
position_max: 300
homing_speed: 50

[stepper_z]
step_pin: ar46
dir_pin: !ar48
enable_pin: !ar62
step_distance: .0025
position_max: 400
position_min: -1
endstop_pin: probe:z_virtual_endstop

[safe_z_home]
home_xy_position: 104.6,150.4 # Change coordinates to the center of your print bed relative to the probe
speed: 50
z_hop: 10               
z_hop_speed: 5

[extruder]
step_pin: ar26
dir_pin: !ar28
enable_pin: !ar24
step_distance: .002266032
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: ar10
sensor_type: EPCOS 100K B57560G104F
sensor_pin: analog13
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: 0
max_temp: 230

[heater_bed]
heater_pin: ar8
sensor_type: ATC Semitec 104GT-2
sensor_pin: analog14
control: pid
pid_Kp: 690.34
pid_Ki: 111.47
pid_Kd: 1068.83
min_temp: 0
max_temp: 100

[fan]
pin: ar9

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
pin_map: arduino

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 2000
max_z_velocity: 5
max_z_accel: 100

[display]
lcd_type: st7920
cs_pin: ar16
sclk_pin: ar23
sid_pin: ar17
encoder_pins: ^ar33, ^ar31
click_pin: ^!ar35


[bltouch]
sensor_pin: ^ar19
control_pin: ar11
pin_move_time: 0.680
#   The amount of time (in seconds) to wait for the BLTouch pin to
#   move up or down. The default is 0.680 seconds.
stow_on_each_sample: False
probe_with_touch_mode: True
x_offset: 48
y_offset: 2
samples: 1
sample_retract_dist: 2
samples_result: average

[bed_mesh]
speed: 50
horizontal_move_z: 6
mesh_min: 48,6
mesh_max: 260,300
probe_count: 7,7
#fade_start: 1.0
#   The gcode z position in which to start phasing out z-adjustment
#   when fade is enabled.  Default is 1.0.
#fade_end: 10.0
#   The gcode z position in which phasing out completes.  When set
#   to a value below fade_start, fade is disabled. It should be
#   noted that fade may add unwanted scaling along the z-axis of a
#   print.  If a user wishes to enable fade, a value of 10.0 is
#   recommended. Default is 0.0, which disables fade.
#fade_target:
#   The z position in which fade should converge. When this value is set
#   to a non-zero value it must be within the range of z-values in the mesh.
#   Users that wish to converge to the z homing position should set this to 0.
#   Default is the average z value of the mesh.
#split_delta_z: .025
#   The amount of Z difference (in mm) along a move that will
#   trigger a split. Default is .025.
#move_check_distance: 5.0
#   The distance (in mm) along a move to check for split_delta_z.
#   This is also the minimum length that a move can be split. Default
#   is 5.0.
mesh_pps: 2,2
#   A comma separated pair of integers (X,Y) defining the number of
#   points per segment to interpolate in the mesh along each axis. A
#   "segment" can be defined as the space between each probed
#   point. The user may enter a single value which will be applied
#   to both axes.  Default is 2,2.
algorithm: bicubic
#   The interpolation algorithm to use. May be either "lagrange"
#   or "bicubic". This option will not affect 3x3 grids, which
#   are forced to use lagrange sampling.  Default is lagrange.
bicubic_tension: .2
#   When using the bicubic algorithm the tension parameter above
#   may be applied to change the amount of slope interpolated.
#   Larger numbers will increase the amount of slope, which
#   results in more curvature in the mesh. Default is .2.
relative_reference_index: 24
#   A point index in the mesh to reference all z values to. Enabling
#   this parameter produces a mesh relative to the probed z position
#   at the provided index.

[screws_tilt_adjust]
screw1: 0,31
screw1_name: front left screw
screw2: 224,31
screw2_name: front right screw
screw3: 224,273
screw3_name: rear right screw
screw4: 0,273
screw4_name: rear right screw
speed: 50
horizontal_move_z: 10
screw_thread: CW-M3
#   The type of screw used for bed level, M3, M4 or M5 and the
#   direction of the knob used to level the bed, clockwise decrease
#   counter-clockwise decrease.
#   Accepted values: CW-M3, CCW-M3, CW-M4, CCW-M4, CW-M5, CCW-M5.
#   Default value is CW-M3, most printers use an M3 screw and
#   turning the knob clockwise decrease distance.

######################################################################
#MACROS
######################################################################
# Start Print and End Print
######################################################################

# Replace the slicer's custom start and end g-code scripts with
# START_PRINT and END_PRINT.

[gcode_macro START_PRINT]
default_parameter_BED_TEMP: 60
default_parameter_EXTRUDER_TEMP: 195
gcode:
    # Use absolute coordinates
    G90
    # Reset the G-Code Z offset (adjust Z offset if needed)
    SET_GCODE_OFFSET Z=0.0
    #HOME
    G28
    # Wait for bed to reach temperature
    M190 S{BED_TEMP}
    # Run Mesh Calibration
    BED_MESH_CALIBRATE
    #LOAD MESH
    BED_MESH_PROFILE LOAD=default
    #Home
    G28
    # Set and wait for nozzle to reach temperature
    M109 S{EXTRUDER_TEMP}
    # Move the nozzle near the bed
    G1 Z5 F3000
    # Move the nozzle very close to the bed
    G1 Z0.15 F300

[gcode_macro END_PRINT]
gcode:
    #Relative positioning
    G91
    #Retract a bit
    G1 E-2 F2700
    #Retract and raise Z
    G1 E-2 Z0.2 F2400
    #Wipe out
    G1 X5 Y5 F3000
    #Raise Z more
    G1 Z10 
    #Absolute positionning
    G90
    #Present print
    G1 X0 Y300
    #Turn-off fan, hotend, bed, disable all steppers except Z
    M106 S0
    M104 S0
    M140 S0
    M84 X Y E
    #Clear Mesh
    BED_MESH_CLEAR

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 2.500
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.041667, 0.028333, 0.017500, 0.062500, 0.089167, 0.098333, 0.109167
#*# 	  0.004167, -0.045833, -0.063333, -0.023333, 0.004167, 0.014167, 0.029167
#*# 	  -0.035833, -0.075000, -0.085000, -0.049167, -0.037500, -0.043333, -0.038333
#*# 	  -0.056667, -0.115000, -0.037500, 0.000000, 0.015000, -0.059167, -0.060833
#*# 	  -0.058333, -0.092500, -0.040833, 0.002500, 0.007500, -0.048333, -0.051667
#*# 	  0.003333, -0.038333, -0.045833, -0.019167, -0.000833, 0.001667, 0.005833
#*# 	  0.120833, 0.127500, 0.101667, 0.123333, 0.135833, 0.149167, 0.150833
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 48.0
#*# max_x = 259.975
#*# min_y = 6.00000000007
#*# max_y = 300.0
